

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    font-family: serif;
    font-color: #000; }


#container34 { width: 400px; height: 19px; }
#container82 { width: 400px; height: 10px; }
#container35 { width: 400px; height: -2px; }
#container83 { width: 400px; height: 1px; }
#container84 { width: 400px; height: 8px; }
#container85 { width: 685px; height: 43px; }
#container106 { width: 400px; height: 4px; }
#container86 { width: 816px; height: 54px; }
#container87 { width: 845px; height: 11px; }
#container88 { background-color: #fff; width: 877px; height: 232px; }
#container89 { background-color: #000; width: 882px; height: 234px; border: solid 1px #000265; }
#container90 { width: 400px; height: 10px; }
#container99 { width: 400px; height: 1px; }
#container100 { background-color: #fff; width: 400px; height: 1px; }
#container101 { background-color: #fff; width: 878px; height: 43px; }
#container102 { width: 878px; height: 41px; }
#container103 { background-color: #000; width: 880px; height: 47px; }
#container104 { background-color: #fff; width: 906px; height: 317px; border-style: solid; border-width: 2px 1px 1px; }
#container105 { background-color: #cccccc; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 941px; height: 327px; border-style: solid; border-width: 3px 1px 2px 2px; }
#container36 { background-color: #fff; width: 972px; height: 340px; border-style: solid; border-width: 6px 1px 3px; }
#container4 { width: 800px; height: 18px; }
#container129 { background-color: #777; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 4px; height: 41px; border-style: solid; border-width: 0 1px; }
#container130 { background-color: #ccc; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 4px; height: 41px; border-style: solid; border-width: 0 1px; }
.underline {font-size: 20px; border-bottom: 2px solid #000000; padding-bottom:2px;}
.dsR3901 /*agl rulekind: base;*/ { background-color: #000; width: 511.63px; height: 341.06px; border: double 5px #fff; }
.dsR3915 /*agl rulekind: base;*/ { background-color: #000; width: 515.5px; height: 343.66px; border: double 5px #fff; }
.dsR4020 /*agl rulekind: base;*/ { background-color: #fff; width: 451.15px; height: 294.75px; border: ridge 36px #fff; }
#layer4 { background-color: #ccc; position: absolute; top: 9939px; left: 934px; width: 3px; height: 1056px; border-style: solid; border-width: 1px; }
#container117 { background-color: #000; width: 504px; height: 5px; }
#container118 { width: 462px; height: 6px; }
#container119 { background-color: #000; width: 424px; height: 7px; }
#container131 { width: 279px; height: 7px; }
#container121 { background-color: #fff; width: 361px; height: 857px; border-style: solid; border-width: 1px; }
#container122 { background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 392.76px; height: 898px; border-style: solid; border-width: 8px 1px 2px; }
#container123 { background-color: #fff; width: 424px; height: 884px; border-style: solid; border-width: 0 1px 4px; }
#container124 { background-color: #cccccc; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 464px; height: 936px; border-style: solid; border-width: 8px 1px 2px; }
#container125 { background-color: #fff; width: 502px; height: 937px; }
#container126 { background-color: #000; width: 504px; height: 940px; }
#container132 { width: 198px; height: 6px; }

blockquote {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 14px;
}
#container133 { width: 324px; height: 747px; }
#red2 { }
#blue2 { }
#blue3 { }
#b2 { }
#c2 { width: auto; height: auto; }
.dsR4031 /*agl rulekind: base;*/ { height: 30px; }
.dsR4032 /*agl rulekind: base;*/ { width: 26px; height: 30px; }
.dsR4046 /*agl rulekind: base;*/ { width: 303px; height: 71px; }
.dsR4047 /*agl rulekind: base;*/ { width: 303px; height: 68px; }
#a4 { width: auto; height: auto; }
#a5 { width: auto; height: auto; }
#c3 { width: auto; height: auto; }
#b3 { }
#a6 { width: auto; height: auto; }
#c4 { width: auto; height: auto; }
#b4 { }
.ds71 /*agl rulekind: base;*/ { color: #fff; font-size: 24px; font-weight: bold; }
.ds73 /*agl rulekind: base;*/ { color: #fff; font-size: 10px; font-weight: bold; }
.ds80 /*agl rulekind: base;*/ { color: #fff; font-size: 20px; font-weight: bold; }
#container120 { background-color: #000; width: 504px; height: 5px; }
#container127 { width: 462px; height: 6px; }
#container128 { background-color: #000; width: 424px; height: 7px; }
#container134 { width: 279px; height: 7px; }
#container143 { width: 198px; height: 6px; }
.dsR4214 /*agl rulekind: base;*/ { background-color: #000; width: 349px; height: 264px; border: double 6px #fff; }
#container109 { width: 198px; height: 1px; }
#container110 { background-color: #000; width: 354px; height: 104px; }
#container111 { width: 238px; height: 59px; }
#1a3 { }
.dsR4215 /*agl rulekind: base;*/ { width: 26px; height: 30px; }
.dsR4216 /*agl rulekind: base;*/ { height: 30px; }
.dsR4217 /*agl rulekind: base;*/ { width: 303px; height: 19px; }
#1b3 { }
#2a3 { }
#2b3 { }
#container144 { width: 324px; height:  auto; }
#container145 { background-color: #fff; width: 369.15px; height: auto; border-style: solid; border-width: 1px; }
#container135 { background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 391px; height: auto; border-style: solid; border-width: 8px 1px 2px; }
#container136 { background-color: #fff; width: 424px; height: auto; border-style: solid; border-width: 0 1px 4px; }
#container137 { background-color: #cccccc; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 464px; height: auto; border-style: solid; border-width: 8px 1px 2px; }
#container138 { background-color: #fff; width: 502px; height: auto; }
#container139 { background-color: #000; width: 504px; height: 940px; }
.dsR4220 /*agl rulekind: base;*/ { width: 303px; height: 30px; }
.dsR4231 /*agl rulekind: base;*/ { width: 22px; height: 22px; }
.dsR4232 /*agl rulekind: base;*/ { width: 303px; height: 60px; }
.dsR4233 /*agl rulekind: base;*/ { width: 324px; height: 738px; }
#ajax_loader2 { }
.dsR4235 /*agl rulekind: base;*/ { width: 324px; height: 273px; }
#container49 { width: 253px; height: 41px; }
#container157 { background-color: #000; width: 930px; height: 7px; }
#container146 { width: 279px; height: 7px; }
#container147 { width: 198px; height: 23px; }
#container148 { width: 777px; height: 238px; }
#container149 { background-color: #fff; width: 838px; height: 326px; border-style: solid; border-width: 1px; }
#container150 { background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 864px; height: 361px; border-style: solid; border-width: 8px 1px 2px; }
#container151 { background-color: #fff; width: 929px; height: 395px; border-style: solid; border-width: 0 1px 4px; }
#container152 { background-color: #cccccc; background-image: url(https://www.newsfactsandanalysis.com/assets/images/assignmentbackground2.jpg); width: 974px; height: 413px; border-style: solid; border-width: 8px 1px 2px; }
#container153 { background-color: #fff; width: 1103px; height: 412px; }
#container154 { background-color: #000; width: 1103px; height: 412px; }
#layer5 { position: absolute; top: 10963px; left: 392px; width: 1125px; height: 441px; }
.dsR4651 /*agl rulekind: base;*/ { width: 743.66px; height: 233px; }
#layer3 { width: 80%; }
#container107 { background-color: #000; width: 1354px; height: 2px; border-style: solid; border-width: 1px; }
#layer6 { position: absolute; top: 55px; left: 125px; width: 839px; height: 26px; }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
    font-size: 18px;
    padding-top: 8px;
    font-color: #fff;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    z-index: 0;
    bottom: 0%;
    left: 0%;
    margin-left: 0px;
    margin-right: 50%;
    font-color: #fff;


    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0s;
}

.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }

.tooltiptext {font-size: 19px; }
.ds81 /*agl rulekind: base;*/ { color: #000; font-size: 24px; font-weight: bold; }
