<
style type ="text/css" media ="all"><!--a:link {
	color: #570101;
}

a:visited {
	color: #570101;
}

a:active {
	color: #570101;
}

body {
	color: #570101;
}

#container6 {
	width: 1000px;
	height: 1003px;
}

.ds271 /*agl rulekind: base;*/ {
	color: #000;
	font-size: 24px;
	font-weight: bold;
}

#container10 {
	width: 833px;
	height: 40px;
}

#container2 {
	width: 825px;
	height: 26px;
}

#container17 {
	width: 400px;
	height: 9px;
}

.ds273 /*agl rulekind: base;*/ {
	color: #000;
	font-size: 40px;
}

.ds275 /*agl rulekind: base;*/ {
	color: #000;
}

.ds276 /*agl rulekind: base;*/ {
	color: #000;
	font-size: 22px;
}

#container16 {
	width: 400px;
	height: 9px;
}

.ds277 /*agl rulekind: base;*/ {
	font-size: 14px;
}

.ds278 /*agl rulekind: base;*/ {
	color: #fff;
}

.dsR1628 /*agl rulekind: base;*/ {
	width: auto;
	height: 99px;
}

.ds280 /*agl rulekind: base;*/ {
	color: #000;
	font-size: 24px;
}

#container13 {
	width: 989px;
	height: 82px;
}

.ds281 /*agl rulekind: base;*/ {
	color: #000;
	font-size: 18px;
}
-->
</
style
>